:flashing-colors {
    --white: #ffffff;
    --black: #000000;
    --Red: #ff0000;
    --Cyan: #00ffff;
    --Green: #00ff00;
    --Magenta: #ff00ff;
    --Blue: #0000ff;
    --Yellow: #ffff00;
    --DarkRed: #840000;
    --LightCyan: #7bffff;
    --DarkCyan: #008484;
    --PastelStrawberry: #ff7b7b;
    --DarkGreen: #008400;
    --LightMagenta: #ff7bff;
    --Purple: #800080;
    --Lime: #7fff7f;
    --DarkBlue: #000084;
    --PastelYellow: #ffff7b;
    --Gold: #ffd700;
    --MediumBlue: #0028FF;
    --DeepPink: #FF1493;
    --SpringGreen: #00eb6c;
    --Orange: #ff7f00;
    --Azure: #0080ff;
    --Beige: #f5f5dc;
    --MidnightBlue: #0a0a23;
    --Teal: #008080;
    --Salmon: #ff7f7f;
    --Brown: #88540b;
    --PowderBlue: #77abf4;
    --CadmiumGreen: #006b3c;
    --CherryBlossomPink: #ff94c3;
    --Coffee: #3b2f2f;
    --BluishGrey: #c4d0d0;
    --Cerise: #de3163;
    --MediumSeaGreen: #21CE9C;
    --Charcoal: #36454F;
    --DarkBeige: #C9BAB0;
    --CadmiumRed: #e30022;
    --NeonTeal: #1cffdd;
    --Aquamarine: #7fffd4;
    --Burgundy: #80002B;
    --Avocado: #568203;
    --MediumViolet: #a97dfc;
    --Copper: #b87333;
    --IceBlue: #478ccc;
    --CadmiumYellow: #fff600;
    --BlueAbyss: #0009ff;
    --Eggplant: #614051;
    --DarkPastelMint: #9ebfae;
    --Emerald: #50c878;
    --PurplishPink: #af3787;
    --Firebrick: #b22222;
    --TourmalineBlue: #4ddddd;
    --Corn: #fbec5d;
    --DeepBlue: #0413a2;
    --ForestGreen: #014421;
    --PinkChalk: #febbde;
    --Raspberry: #e30b5c;
    --FreshGreen: #1cf4a3;
    --Gainsboro: #dcdcdc;
    --CatBlack: #232323;
    --Grape: #33003d;
    --GreenFrosting: #ccffc2;
    --Goldenrod: #daa520;
    --HeroicBlue: #255adf;
    --GhostWhite: #f8f8ff;
    --NightShadow: #070700;
    --InternationalOrange: #ff4f00;
    --SapphireBlue: #00b0ff;
    --JetBlack: #000200;
    --CloudWhite: #fffdff;
    --Jade: #00a86b;
    --FrenchFushsia: #ff5794;
    --BabyBlue: #89cff0;
    --DarkChocolate: #76300f;
    --Crimson: #dc143c;
    --CaribbeanGreen: #00cc99;
    --NeonGreen: #39ff14;
    --ElectricPurple: #c600eb;
    --Carrot: #ed9121;
    --BrightBlue: #126ede;
    --Indigo: #4b0082;
    --BitterLime: #b4ff7d;
    --Rosewood: #65000b;
    --SeafoamBlue: #9afff4;
    --BottleGreen: #006a4e;
    --ConchShell: #ff95b1;
    --Ultramarine: #4000ff;
    --Chartreuse: #bfff00;
    --Mauve: #e0b0ff;
    --DarkGreen: #1f4f00;
    --Celadon: #ace1af;
    --Murasaki: #531e50;
    --RebeccaPurple: #663399;
    --LeekGreen: #99cc66;
    --DuckBlue: #007791;
    --DarkPeach: #ff886e;
    --TyrianPurple: #66023C;
    --CreamMint: #99fdc3;
}
:iron {
    --WroughtIron: #14030b;
    --CastIron: #15151d;
    --OiledIron: #282c34;
    --WroughtIron2: #474749;
    --PigIron: #484848;
    --DullIron: #687f8a;
    --OldIron: #8d9288;
    --SteelRust: #a25508;
    --RedIron: #ad3816;
    --SoftIron: #c3ced1;
    --PastelIron: #cad6da;
    --IronRust: #cd7001;
    --HotIron: #d22905;
    --TrueIron: #e2dddf;
    --Iron: #ebecf5;
    --PureIron: #eeeeee;
}
:metal {
    --CobaltBlue: #0008e3;
    --BrassPatina: #008f7a;
    --WroughtIron: #030102;
    --BlackIron: #060606;
    --CopperPatina2: #09c0b1;
    --CastIron: #15151d;
    --CopperPatina3: #274843;
    --OiledIron: #282c34;
    --PigIron: #484848;
    --CopperPatina: #49f3ac;
    --Manganese: #4d4d4d;
    --TungstenCarbide2: #59595f;
    --OldIron: #5e5e5e;
    --TarnishedPewter: #676c6b;
    --AncientBrass: #6b5401;
    --TungstenCarbide: #767980;
    --Pewter: #798b93;
    --Beryllium: #7c7377;
    --OldGold: #7f5e00;
    --OldPlatinum: #828f91;
    --IronRust: #832409;
    --RomanSilver: #838996;
    --TarnishedSilver: #848482;
    --OldTitanium: #878681;
    --Bronze3: #92791b;
    --Platinum2: #9a9697;
    --OldBrass: #9f7b2a;
    --Brass2: #a38a4e;
    --Platinum: #a3a0a1;
    --Brass4: #a5983a;
    --Vanadium: #a6a6ab;
    --SilverPatina: #a8a6a6;
    --OldSilver: #acacac;
    --Chrome2: #afd5db;
    --Brass3: #b29438;
    --Bronze: #b37108;
    --Brass1: #b3892b;
    --Platinum3: #b4c5d4;
    --Tungsten: #b5ac9f;
    --BrushedCopper: #b77b23;
    --Copper: #b87333;
    --Aluminum: #b8c0cb;
    --Gold3: #b99100;
    --OldTin: #bebebe;
    --DullPewter: #bfb9bf;
    --Nickel: #bfbfbf;
    --Silver: #c0c0c0;
    --FoolsGold: #c1a40b;
    --Chrome: #c2d3d1;
    --Iron: #c3ced1;
    --Gold4: #c4ad41;
    --Bronze2: #c4af19;
    --Palladium2: #c5cac8;
    --OldSteel: #c9c0bb;
    --SterlingSilver: #cad3d4;
    --AmericanSilver: #cfcfcf;
    --NewCopper2: #d0906c;
    --Titanium2: #d1dce5;
    --Europium: #d2d1b7;
    --Aluminum2: #d2d9db;
    --Silver3: #d2e1f6;
    --Zinc: #d4dadf;
    --Platinum4: #d5d9d2;
    --StainlessPlatinum: #dbe0e0;
    --Palladium: #dde3f7;
    --Nickel2: #dee0df;
    --Silver2: #dfded6;
    --Palladium3: #e1dfd6;
    --Rhodium: #e2e1df;
    --Titanium: #e4e4e4;
    --Zirconium: #e4e7f5;
    --BrushedAluminum: #e4e9ed;
    --TruePlatinum: #e5e4e2;
    --Platinum5: #e5ebea;
    --StainlessSteel2: #e6e6ee;
    --StainlessSteel2: #e6e6ee;
    --RoseGold: #e7bbaa;
    --Tin: #e7edfe;
    --Titanium3: #e8edf0;
    --Gold2: #e9b413;
    --BrightSilver: #ebeae9;
    --StainlessSteel: #ebecf5;
    --Steel: #eeeeee;
    --NewCopper: #f28e62;
    --Electrum: #f3c968;
    --WhiteGold: #f4f5f6;
    --NewSteel: #f4f5f8;
    --NordicGold: #fdf286;
    --Gold: #ffd700;
    --PolishedGold: #ffd900;
}
:well-known-colors {
    --Alabaster: #edeae0;
    --AliceBlue: #f0f8ff;
    --Amaranth: #e52b50;
    --AppleGreen: #8db600;
    --Apricot: #fbceb1;
    --Aqua: #00ffff;
    --Aquamarine: #7fffd4;
    --ArmyGreen: #4b5320;
    --Artichoke: #4b6f44;
    --AshGray: #b2beb5;
    --Auburn: #a52a2a;
    --Avocado: #568203;
    --Azure: #007fff;
    --BabyBlue: #89cff0;
    --BabyPink: #f4c2c2;
    --BarnRed: #7c0902;
    --Basil: #879f84;
    --BattleshipGray: #848482;
    --Beige: #f5f5dc;
    --Bisque: #ffe4c4;
    --Black: #000000;
    --BlackOlive: #3b3c36;
    --Blond: #faf0be;
    --BloodRed: #660000;
    --Blue: #0000ff;
    --Bone: #e3dac9;
    --BottleGreen: #006a4e;
    --Brandy: #87413f;
    --BrickRed: #b22222;
    --BrinkPink: #fb607f;
    --Brown: #964b00;
    --Bubblegum: #f58092;
    --Buff: #daa06d;
    --Burgundy: #800020;
    --BurntUmber: #8a3324;
    --Butterscotch: #e09540;
    --CadmiumRed: #e30022;
    --CadmiumYellow: #fff600;
    --Camel: #c69f59;
    --CanaryYellow: #ffff99;
    --CandyAppleRed: #ff0800;
    --Capri: #00bfff;
    --Cardinal: #c51e3a;
    --Carmine: #960018;
    --CarnationPink: #ffa6c9;
    --Carrot: #ed9121;
    --Celadon: #ace1af;
    --Celery: #b4c04c;
    --Celeste: #b2ffff;
    --CelticBlue: #246bce;
    --Cerise: #de3163;
    --Champagne: #f7e7ce;
    --Charcoal: #36454f;
    --CharlestonGreen: #232b2b;
    --Chartreuse: #dfff00;
    --Cherry: #d2042d;
    --CherryBlossom: #ffb7c5;
    --Chestnut: #954535;
    --Chocolate: #58111a;
    --Cinnabar: #e44d2e;
    --Citron: #9fa91f;
    --Claret: #7f1734;
    --Cocoa: #d2691e;
    --Copper: #b87333;
    --Coquelicot: #ff3800;
    --Coral: #f88379;
    --Cordovan: #893f45;
    --CornflowerBlue: #6495ed;
    --CottonCandy: #ffbcd9;
    --Cream: #fffdd0;
    --Crimson: #dc143c;
    --Cyan: #00ffff;
    --Dill: #77cc00;
    --DuckBlue: #007791;
    --Ebony: #555d50;
    --Eggplant: #614051;
    --Eggshell: #f0ead6;
    --ElectricBlue: #7df9ff;
    --Emerald: #50c878;
    --Fandango: #de5285;
    --FernGreen: #4f7942;
    --FireEngineRed: #ce2029;
    --Flax: #eedc82;
    --FluorescentBlue: #15f4ee;
    --ForestGreen: #228b22;
    --Gainsboro: #dcdcdc;
    --Garnet: #733635;
    --GhostWhite: #f8f8ff;
    --Gold: #ffd700;
    --Goldenrod: #daa520;
    --Grape: #6f2da8;
    --GrayGrey: #808080;
    --Green: #008000;
    --GreenTea: #d0f0c0;
    --Gunmetal: #2a3439;
    --Heliotrope: #df73ff;
    --Honeydew: #f0fff0;
    --HotPink: #ff69b4;
    --InternationalOrange: #ff4f00;
    --Ivory: #fffff0;
    --Jade: #00a86b;
    --Jasper: #d05340;
    --Jet: #343434;
    --JungleGreen: #29ab87;
    --Khaki: #c3b091;
    --Kobicha: #6b4423;
    --LavaRed: #cf1020;
    --Lavender: #b57edc;
    --LawnGreen: #7cfc00;
    --Lemon: #fff700;
    --Lilac: #c8a2c8;
    --Lime: #32cd32;
    --Linen: #faf0e6;
    --Madder: #a50021;
    --Magenta: #ff00ff;
    --Mahogany: #c04000;
    --Malachite: #0bda51;
    --Mango: #fdbe02;
    --Mantis: #74c365;
    --Marigold: #eaa221;
    --Maroon: #800000;
    --Mauve: #e0b0ff;
    --Melon: #febaad;
    --MidnightBlue: #003366;
    --MineralRed: #b35457;
    --MintGreen: #98fb98;
    --MossGreen: #8a9a5b;
    --Mulberry: #c54b8c;
    --Mustard: #ffdb58;
    --MyrtleGreen: #317873;
    --NavyBlue: #000080;
    --NeonRed: #ff073a;
    --Nickel: #727472;
    --Ochre: #cc7722;
    --Olive: #808000;
    --Onyx: #353839;
    --Orange: #ff8000;
    --Orchid: #da70d6;
    --ParisGreen: #50c878;
    --Peach: #ffe5b4;
    --Pear: #d1e231;
    --Periwinkle: #ccccff;
    --Persimmon: #ec5800;
    --PhthaloBlue: #000f89;
    --PineGreen: #01796f;
    --Pink: #ffc0cb;
    --Platinum: #e5e4e2;
    --Plum: #843179;
    --PolynesianBlue: #224c98;
    --PowderBlue: #b0e0e6;
    --Pumpkin: #ff7518;
    --Purple: #800080;
    --Raspberry: #e30b5d;
    --RebeccaPurple: #663399;
    --Red: #ff0000;
    --RobinEggBlue: #00cccc;
    --Rose: #ff0080;
    --RoseGold: #b76e79;
    --RoseVale: #ab4e52;
    --Rosewood: #65000b;
    --Ruby: #e0115f;
    --RuddyBlue: #76abdf;
    --Russet: #80461b;
    --SafetyOrange: #ff7900;
    --SafetyYellow: #eed202;
    --Saffron: #f4c430;
    --Salmon: #fa8072;
    --SandyBrown: #f4a460;
    --SapGreen: #507d2a;
    --Sapphire: #082567;
    --Scarlet: #ff2400;
    --SeaGreen: #20b2aa;
    --Seashell: #fff5ee;
    --ShockingPink: #fc0fc0;
    --Silver: #acacac;
    --SkyBlue: #80daeb;
    --SlateGray: #708090;
    --Snow: #fffafa;
    --SpanishBlue: #0070bb;
    --StoneGray: #928e85;
    --Tan: #d2b48c;
    --Tangerine: #f28500;
    --Taupe: #483c32;
    --Teal: #367588;
    --Terracotta: #cb6843;
    --Tomato: #ff6347;
    --Turquoise: #40e0d0;
    --TurtleGreen: #8a9a5b;
    --TyrianPurple: #66023c;
    --Ultramarine: #4000ff;
    --Umber: #826644;
    --Vanilla: #f3e5ab;
    --Verdigris: #43b3ae;
    --Vermilion: #e34234;
    --Violet: #7f00ff;
    --Viridian: #40826d;
    --Walnut: #5c5248;
    --Wheat: #f5deb3;
    --White: #ffffff;
    --Wisteria: #c9a0dc;
    --WoodBrown: #c19a6b;
    --Yellow: #ffff00;
}
:gemstones {
    --Ruby: #ca0147;
    --Emerald: #028f1e;
    --Sapphire: #0f52ba;
    --Amethyst: #562f7e;
    --Aquamarine: #2ee8bb;
    --Pearl: #eeffff;
    --Jewel: #136843;
    --BlueOpal: #0f3b57;
    --AntiqueRuby: #841b2d;
    --Turquoise: #06c2ac;
    --BlackPearl: #1e272c;
    --Amber: #ffbf00;
    --AquamarineBlue: #71d9e2;
    --OrangeJewel: #ff9731;
    --DarkSapphire: #082567;
    --FireOpal: #fd3c06;
    --DiamondBlue: #cfe4ee;
    --DitheredAmber: #feb308;
    --MediumAquamarine: #66ddaa;
    --RubyDust: #e0115f;
    --CruelRuby: #dd3344;
    --Quartz: #d9d9f3;
    --TurquoiseBlue: #00ffef;
    --DarkEmerald: #00834e;
    --LapisLazuli: #26619c;
    --PinkQuartz: #ffbbee;
    --MilkyAquamarine: #038487;
    --RubyRed: #9b111e;
    --MediumRuby: #aa4069;
    --BlueEmerald: #0f5a5e;
    --Jade: #00a86b;
    --Bloodstone: #413431;
    --OpalGreen: #157954;
    --Cinnabar: #730113;
    --SmokyQuartz: #51484f;
    --Jasper: #d73b3e;
    --Quartzite: #232e26;
    --Malachite: #0bda51;
    --EmeraldGreen: #046307;
    --ApatiteCrystal: #bbff99;
    --EarhartEmerald: #416659;
    --NavajoTurquoise: #007c78;
}
:earth-tones {
    --ForestFloor: #555142;
    --ForestNight: #434237;
    --DirtBrown: #836539;
    --DesertYellow: #a29259;
    --DustyYellow: #d4cc9a;
    --StrawYellow: #f0d696;
    --MuskDusk: #cfbfb9;
    --PrairieDusk: #cec5ad;
    --BrownGrey: #8d8468;
    --CharcoalGrey: #6e6969;
    --CharredClay: #885132;
    --Bistre: #3d2b1f;
    --WoodBark: #302621;
    --EarthBrown: #4f1507;
    --Auburn: #712f2c;
    --BearBrown: #44382b;
    --BrownTumbleweed: #37290e;
    --EvergreenForest: #0e695f;
    --Forest: #0b5509;
    --ForestBiome: #184a45;
    --KelpForest: #448811;
    --ForestNight: #002200;
    --PineGreen: #0a481e;
    --AlpineGreen: #005f56;
    --Artichoke: #4b6d41;
    --CaribbeanGreen: #00cc99;
    --Cedar: #5e6737;
    --DrabGreen: #749551;
    --Seagrass: #67ad83;
    --MossGarden: #99bb33;
    --MossGreen: #638b27;
    --Watercress: #6e9377;
    --WhiteSulfur: #f1faea;
    --BlueLagoon: #00626f;
    --IrishClover: #53734c;
    --Peaslake: #8caa95;
    --TurtleLake: #73b7a5;
    --RollingSea: #5a6d77;
    --CodGrey: #2d3032;
    --DoverGrey: #848585;
    --GlacierGrey: #c5c6c7;
    --GreyWolf: #9ca0a6;
    --WhiteSmoke: #f5f5f5;
    --CanadianLake: #8f9aa4;
    --Dusk: #4e5481;
    --Waterway: #7eb7bf;
    --Waterfall: #3ab0a2;
    --BlueOpal: #0f3b57;
    --BluePaisley: #2282a8;
    --MountainLake: #2d5975;
    --Meltwater: #79c0cc;
    --JasmineFlower: #f4e8e1;
    --Wallflower: #a0848a;
    --ArcticDusk: #735b6a;
    --BluePotato: #64617b;
    --EnglishViolet: #563d5d;
    --VintageViolet: #634f62;
    --BeetRed: #7a1f3d;
    --BrownRed: #922b05;
    --BurledRedwood: #8f4c3a;
    --CharredBrown: #3e0007;
    --ChestnutBrown: #6d1008;
    --WildflowerHoney: #c69c5d;
    --BrownOrange: #b96902;
    --BurntOrange: #cc5500;
    --DirtyOrange: #c87606;
    --Rust: #a83c09;
    --FadedOrange: #f0944d;
    --OrangeLily: #be7249;
    --Ocher: #bf9b0c;
    --AspenYellow: #f6df9f;
    --BadMoon: #f2e5b4;
    --SwedishYellow: #fce081;
    --WaxYellow: #ede9ad;
    --YellowIris: #eee78e;
}